{% include('@VkHealthCare/navbar/header.php.twig') %}
<div class="container">
  <h2>Basic Details</h2>
  {% for message in app.flashes('success') %}
      <div class="flash-notice">
          {{ message }}
      </div>
  {% endfor %}

  <form action="{{path('post_action')}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="fullname">Full name:</label>
      <input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" name="fullname">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age">
    </div>
     <div class="form-group">
      <label for="bloodgroup">Blood Group:</label>
      <input type="text" class="form-control" id="bloodgroup" placeholder="Enter Blood Group" name="bloodgroup">
    </div>
     <div class="form-group">
      <label for="phone_no">Phone NO:</label>
      <input type="text" class="form-control" id="phone_no" placeholder="Enter Phone No" name="phone_no">
    </div>
     <div class="form-group">
      <label for="address">Address:</label>
      <textarea rows="4" cols="50" id="address" name="address"></textarea>
    </div>
    <div class="form-group">
      <label for="postfile">Profile:</label>
      <input type="file" class="form-control" id="profile"  name="profile">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% include('@VkHealthCare/navbar/footer.php.twig') %}