{% include('@VkHealthCare/navbar/header.php.twig') %}
<div class="section content">
		<div class="container">
			<div class="progressive-firm">
				<h4>Since 2017, HomeInfoUK has been part of the poweredbypie group. The poweredbypie group is committed to providing a full conveyancing support package to property professionals across England and Wales. From the best quality searches, indemnity insurance and due diligence products to technology that helps you generate more enquiries, we’re at your service.</h4>
				<div class="row">
					<div class="col">
						<a href="https://www.poweredbypie.co.uk/lp/home-working.html" role="button" class="btn btn-primary">Find out more</a>
					</div>
				</div> <!--row-->
			</div> <!--container-->
		</div><!--section content-->
	</div>
{% include('@VkHealthCare/navbar/footer.php.twig') %}